/* Define custom properties */
:root {
    --color-primary: #d73953;
    --color-black : #090909;
    --color-white : #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Enable smooth scrolling behavior for html elements */

html {
	scroll-behavior: smooth;
}

/* Body foreground color value */

body {
	color: #161616;
}

/* Anchor elements foreground color value */

a {
	color: #161616;
}

/* Hide elements with class visually hidden */

.visually-hidden {
	display: none;
}

/* card-category foreground color */

.card-category {
	color: #D73953;
}

/* Section Tagline foreground color */

.section-tagline {
	color: #D73953;
}
